<!DOCTYPE html>

<html>

   <head>
      <title>Sean Mulholland</title>
      <link rel="stylesheet" type="text/css" href="/public/styles/mainStyle.css">
   </head>

   <body>
      {{{body}}}
   </body>
</html>
