<div id="pageWrapper">
	<span id="pageHeader">
		<div id="pageHeaderContent">
			<h1 id="nameHeader"> Sean Mulholland </h1>
			<div class="lineBreak"></div>
		</div>
	</span>

	<section id="sideBar">
		<div class="buttonDiv" id="introButton">
			<div class="buttonDivText">
				<p>
					Introduction
				</p>
			</div>
		</div>


		<div class="buttonDiv" id="resumeButton">
			<div class="buttonDivText">
				<p>
					Resume
				</p>
			</div>
		</div>

		<div class="buttonDiv" id="githubButton">
			<div class="buttonDivText">
				<p class="buttonDivTextP">
					GIT Hub
				</p>
			</div>
		</div>

		<div class="buttonDiv" id="apiButton">
			<div class="buttonDivText">
				<p class="buttonDivTextP">
					Oregon State Liquor API
				</p>
			</div>
		</div>

		<div class="buttonDiv" id="apiButton">
			<div class="buttonDivText">
				<p class="buttonDivTextP">
					Google's Volley Library
				</p>
			</div>
		</div>

	</section>

	<span id="pageMiddle">

		<section id="contentSection">
			<div id="contentSectionHeader">
			</div>
			<div style="display: none;" id="contentSectionResume">
			   
			   <embed src="./public/documents/SeanMulholland.pdf" width="90%" height="1090px" type='application/pdf'>
			</div>
			<div id="contentSectionContent">
				<p id="contentText"> Welcome to my homepage built on my own Node.js webserver hosted on my Raspberry Pi (formerly an EC2 instance)!
				</p>
			</div>
		</section>
	</span>

	<span id="pageFooter">
		<div id="pageFooterContent">
			<p id="pageFooterContentText">
				Last Updated 10/15/2016
			</p>
			<a id="emailAddress" href="mailto:sean-mulholland@hotmail.com">Email: sean-mulholland@hotmail.com</a>
		</div>
	</span>
</div>

<script src="/public/scripts/setDimensions.js"></script>
<script src="/public/scripts/addEvents.js"></script>
