html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
}

#pageWrapper {
	position: absolute;
        width: 100%;
	height: 100%;
        min-height: 1440px;
}

#pageHeader {
	display: block;
        position: absolute;
	width: calc(100% - 129px);
        height: 120px;
	margin: 0px;
        left: 129px;
}

#pageHeaderContent {
	width: 100%;
        height: 120px;
	top: 0px;
}

#nameHeader {
	display: inline;
        position: absolute;
	height: auto;
	margin: 0px;
        right: 8px;
        z-index: 100000;
	color: #FFFFFF;
	font: italic 92px "Calibri", sans-serif;
	text-shadow:
		-1px -1px 0 #CCCCCC,
		-1px  1px 0 #CCCCCC,
		 1px  1px 0 #CCCCCC,
		 1px -1px 0 #CCCCCC;
}

#pageMiddle {
	display: block;
        position: absolute;
	width: calc(100% - 129px - 10px); /*100% - Sidebar - padding*/
	height: 88%;
	min-height: 900px;
        padding: 5px;
        top: 120px;
        left: 129px;
	/*border: 1px solid #07001C*/
	/*background-color: #22105D;*/
	overflow: hidden;
}

#sideBar {
        position:absolute;
        width: 120px;
        height: 100%;
        margin: 0px;
        border-right: 1px solid black;
        padding: 4px;
        padding-top: 0px;
        padding-bottom: 0px;
        top: 0px;
        left: 0px;
        z-index: 1000;
	background-color: #22105D;
}

.buttonDiv {
	display: table;
	width: 120px;
	height: 120px;
        margin-top: 1px;
        border-bottom: 1px solid grey;
}

.buttonDiv:hover {
        background-color: #422ADE;
}

.buttonDivText {
	display: table-cell;
	width: auto;
	height: auto;
	margin: 0px;
	vertical-align: middle;
	color: white;
	font: bold 20px "Calibri", sans-serif;
	text-align: center;
	text-shadow:
		-1px -1px 0 #000000,
		-1px  1px 0 #000000,
		 1px  1px 0 #000000,
		 1px -1px 0 #000000;

}

.buttonDivTextP {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#contentSection {
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: "Calibri", sans-serif;
	text-align: center;
	background-color: white;
}

#contentSectionContent {
	display: block;
	position: absolute;
	width: calc(100% - 30px); /*100% - margins*/
	height: 90%;
        margin: 15px;
}

#contentText {
	display: block;
	position: absolute;
	height: 100%;
}

#pageFooter {
	display: block;
	position: absolute;
	width: calc(100% - 129px); /*100% - sidebar*/
	height: 55px;
        margin: 4px;
        left: 129px;
        bottom: 0px;
}

#pageFooterContent {
	display: block;
	position: absolute;
	width: 40%;
	height: 100%;
	right: 20px;
	text-align: right;
}

#pageFooterContentText {
	margin: 0px;
	color: silver;
	font: 16px "Calibri", sans-serif;
}

#emailAddress {
	color: silver;
	text-decoration: underline;
}	
