#homeLink {
   width: 100%;
}

#homeBanner{
   z-index: 5;

   width: 50%;
   height: 100px;
   
   position: fixed;
   
   top: -50px;
   left: 0px;
}

#homeBanner:hover {
   top: 0px;
}

body {
	font-family: "arial", "sans-serif";
	width: 100%;
}

.headerWrap {
	font: bold 48px "Calibri", sans-serif;
	position: absolute;
	padding: 30px;
	text-align: left;
	height: 142px;
	width: 100%;
	top: 0px;
	left: 0px;
	padding: 0px;
	border-bottom: 2px solid black;
}

.headerWrapInner {
	position: absolute;
	bottom: 0px;
	left: 20px;
}

.navigation {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 140px;
	background-color: #b3e0ff;
	border: 2px solid black;
}

.mainContent {
	position: absolute;
	top: 144px;
	width: 95%;
	padding: 10px;
}

.references {
	display: inline-block;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: silver;
	border: 2px solid black;
	padding: 10px;
}

.exampleForm {
	position: relative;
	top: 0px;
	left: 0px;
	width: 1000px;
	display: inline-block;
	min-height: 55px;
}

fieldset {
	background-color: #b3e0ff;
}

iframe {
	width: 99%;
	background-color: white;
}

.Ex1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 517px;
}

.Ex2 {
	position: absolute;
	top: 0px;
	left: 560px;
	width: 408px;

}

.codeWrap{
	background-color: #eaeaea;
	width: auto;
	padding: 5px;
	border: 1px solid grey;
}

.codeWrapInline{
	background-color: #eaeaea;
	display: inline-block;
	width: auto;
	padding: 5px;
	border: 1px solid grey;
}
